{{ define "title" }}{{ .Title  | title }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
<template id="content">
    <q-page padding style="padding-bottom: 50px;">
        {{.Content}}
        <q-page-scroller position="bottom-right" :scroll-offset="350" :offset="[18, 18]">
            <q-btn fab-mini glossy icon="keyboard_arrow_up" :color="$q.dark.isActive ? 'white' : 'dark'" :text-color="$q.dark.isActive ? 'dark' : 'white'" aria-label="back to top"></q-btn>
        </q-page-scroller>
    </q-page>
</template>
{{ end }}