<meta name="theme-color" content="white">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{.Site.Title}}">
<meta name="apple-mobile-web-app-title" content="{{.Site.Title}}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="msapplication-TileImage" content="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=144">
<meta name="msapplication-TileColor" content="#000000">
<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" type="image/png" sizes="128x128" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=128">
<link rel="icon" type="image/png" sizes="96x96" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=96">
<link rel="icon" type="image/png" sizes="32x32" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=32">
<link rel="icon" type="image/png" sizes="16x16" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=16">
<link rel="icon" type="image/ico" href="{{ .Site.BaseURL}}favicon.ico">
<link rel="mask-icon" href="{{ .Site.BaseURL}}icons/icon.svg" color="#00B4FF">
<link rel="apple-touch-icon" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=120">
<link rel="apple-touch-icon" sizes="152x152" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=152">
<link rel="apple-touch-icon" sizes="167x167" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=167">
<link rel="apple-touch-icon" sizes="180x180" href="https://i0.wp.com/r-insight.com/img/1YJhptt.png?w=180">
<link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)" href="{{ .Site.BaseURL}}icons/1284x2778.png">
<link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)" href="{{ .Site.BaseURL}}icons/1170x2532.png">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="{{ .Site.BaseURL}}icons/828x1792.png">
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="{{ .Site.BaseURL}}icons/1125x2436.png">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="{{ .Site.BaseURL}}icons/1242x2688.png">
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="{{ .Site.BaseURL}}icons/750x1334.png">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="{{ .Site.BaseURL}}icons/1242x2208.png">
<link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2)" href="{{ .Site.BaseURL}}icons/1620x2160.png">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="{{ .Site.BaseURL}}icons/1536x2048.png">
<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="{{ .Site.BaseURL}}icons/1668x2224.png">
<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="{{ .Site.BaseURL}}icons/1668x2388.png">
<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="{{ .Site.BaseURL}}icons/2048x2732.png">